@use '../helpers' as *;

.main{
	display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: rem(50);
	padding: fluid(20, 10);
	width: fluid(450, 290);
	@include glass
}

.app{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	&__body{
		width: 100%;
		flex-direction: column;
		gap: rem(50);
		@include flex-center;
		.city{
			font-size: fluid(40, 35);
			font-family: var(--font-family);
			font-weight: var(--x-bold);
			text-transform: uppercase;
			letter-spacing: rem(5);
		}
	}
}

.weather-content{
	flex-direction: column;
	gap: fluid(10, 5);
	@include flex-center;
}
.weather{
	&__temp{
		@include flex-center;
		h2{
			font-size: rem(40);
			font-weight: var(--bold);
			margin: 0;
		}
	}
	&__status{
		@include flex-center;
		h3{
			font-size: rem(25);
			font-weight: var(--regular);
			margin: 0;
		}
	}
	&-info{
		display: flex;
			align-items: center;
			justify-content: space-between;
			gap: fluid(20, 10);
		width: 100%;
		padding: rem(20);
		transition: var(--transition);
		@include glass;
		&:hover{
			box-shadow: 0px 0px rem(10) rgba(255, 255, 255, 0.2);
		}
		&__card{
			flex-direction: column;
			@include flex-center;
			h3{
				font-size: fluid(25, 16);
				font-weight: var(--bold);
			}
			p{
				font-weight: var(--thin);
				color: var(--gray);
				margin-top: rem(-5);
			}
		}
		&__icon{
			svg{
				width: rem(40);
				height: rem(40);
				fill: var(--white);
			}
		}
	}
}

.error-component{
	position: absolute;
		bottom: rem(50);
		right: rem(50);
	min-width: rem(100);
	max-width: rem(400);
	min-height: rem(50);
	padding: rem(20);
	display: flex;
		align-items: center;
		justify-content: start;
		gap: rem(5);
	transition: var(--transition);
	translate: rem(500);
		
		@include glass;

		background-color: var(--color-error);
	h3{
		font-size: rem(18);
	}
	&__icon{
		&::after{
			display: flex;
			content: "";
			width: rem(24);
			height: rem(24);
			background-image: url(/public/assets/icons/close_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}
