@use '../helpers' as *;

.app-background{
	--color-first: var(--light-gray);
	--color-second: var(--dark-gray);

	position: absolute;
	z-index: -10;
	inset: 0;
	width: 100%;
	height: 100%;
	transition: all var(--transition);
	background: linear-gradient(var(--color-first) 30%, var(--color-second));
}


