@font-face {
	font-family: "nunito sans";
	src: url("/assets/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "nunito sans";
	src: url("/assets/fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf");
	font-style: italic;
	font-display: swap;
}
