@use 'helpers' as *;

.visually-hidden{
	@include visually-hidden
}

.main-container {
	width: rem(1440);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: fluid(20, 10);
	padding-top: rem(100);
	margin-inline: auto;
}

.show-component{
	translate: 0 !important;
}
