@use 'helpers' as *;

.visually-hidden{
	@include visually-hidden
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: fluid(40, 20);
	padding-top: fluid(100, 80);
	margin-inline: auto;
}

.show-component{
	translate: 0 !important;
}
