@use 'helpers' as *;

:root{
	--white: rgb(255, 255, 255);
	--gray: rgba(250, 250, 250, 0.829);
	--black: rgb(0, 0, 0);

	--very-dark-gray: rgb(120, 124, 126);
	--dark-gray: rgb(175, 175, 175);
	--light-gray: rgb(219, 219, 219);

	--blue-color: rgb(106, 178, 255);
	--light-blue-color: rgb(154, 203, 255);

	--very-light-blue: rgb(175, 209, 245);
	--grayish-light-blue: rgb(185, 206, 228);

	--dark-blue: rgb(3, 5, 32);
	--dark-purple: rgb(31, 7, 58);

		--color-error: rgb(238, 75, 97, .8);
	--font-family: 'nunito sans';

	--thin: 300;
	--regular: 400;
	--bold: 700;

	--transition: 300ms;
}
